<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmrf-KaSG73MFUsB-jAlS7tpcK30k49WE</string>
	<key>GCM_SENDER_ID</key>
	<string>3108472113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.measureAp</string>
	<key>PROJECT_ID</key>
	<string>measure-app-fd0af</string>
	<key>STORAGE_BUCKET</key>
	<string>measure-app-fd0af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3108472113:ios:498d28d1d3101e9ead5c10</string>
</dict>
</plist>